# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\ry468\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: trio~=0.17 in c:\users\ry468\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ry468\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ry468\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ry468\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ry468\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ry468\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: outcome in c:\users\ry468\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ry468\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\ry468\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\ry468\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ry468\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\ry468\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ry468\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ry468\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ry468\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ry468\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [8]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [9]:
#Opening the naukri page on automated chorme browser
driver.get('https://www.naukri.com/')

In [10]:
#entering designation and location as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [11]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [12]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [32]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [33]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [34]:
#scraping job_location from the given page
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location= i.text
    job_location.append(location)

In [35]:
#scraping company name from the given page
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [36]:
#Scraping experience required from the given page
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [37]:
#lets check out all the scraping list lent
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [38]:
#Now lets make a DataFrame
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,Cynosure Corporate Solutions,2-7 Yrs
1,Data Analyst III,Bangalore/Bengaluru,Walmart,3-7 Yrs
2,Data Analyst III,Bangalore/Bengaluru,Walmart,3-7 Yrs
3,Compliance Rule Writer/Data Analyst,Bangalore/Bengaluru,Paypal,5-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
5,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
7,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
8,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
9,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [433]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [39]:
driver.get('https://www.naukri.com/')

In [40]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [41]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [42]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [48]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [49]:
#Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping Company name from the given page

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company= i.text
    company_name.append(company)
    
#Scraping experience from the given page

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [50]:
#checking len of scraping list
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [51]:
#Now making the DataFrame
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies,5-8 Yrs
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,4-8 Yrs
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,5-11 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,3-7 Yrs
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,7-9 Yrs
8,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Kochi/Cochin,...",Cognizant,6-10 Yrs
9,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,10-12 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs.

The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [434]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [86]:
 driver.get('https://www.naukri.com/')

In [87]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [88]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [90]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
location.click()

In [91]:
salary_filter= driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary_filter.click()

In [92]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [93]:
#Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping Company name from the given page

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company= i.text
    company_name.append(company)
    
#Scraping experience from the given page

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [94]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [97]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,MLOps - Data Scientist,Noida,Paytm,3-8 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
6,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
9,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:

1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [173]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [208]:
driver = webdriver.Chrome(r'chrome.exe')

In [209]:
driver.get('https://www.flipkart.com/')

In [210]:
# Open login pop so i use this
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [211]:
#Enter the sunglasses in the search box
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

In [212]:
# Now click the search icon
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [265]:
# Lets make a list for store of scrape data
Brand= []
Product_Description= []
Price= []
Discount= []

In [266]:
start=0
end=2
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:80]:
        Brand.append(i.text)
        
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [267]:
print(Brand)
print(len(Brand))

['Rich Club', 'Eyewearlabs', 'SRPM', 'Elligator', 'Fastrack', 'PIRASO', 'PIRASO', 'Sunnies', 'Elligator', 'SHAAH COLLECTIONS', 'Elligator', 'ROZZETTA CRAFT', 'Elligator', 'New Specs', 'Fastrack', 'CRYSTAL CART', 'SRPM', 'Fastrack', 'NuVew', 'Eyewearlabs', 'Fastrack', 'PIRASO', 'Fastrack', 'VINCENT CHASE', 'Elligator', 'Fastrack', 'NuVew', 'Cristiano Ronnie', 'Elligator', 'NuVew', 'PIRASO', 'LOUIS KOUROS', 'Fastrack', 'PIRASO', 'PIRASO', 'METRONAUT', 'Rich Club', 'PIRASO', 'Fastrack', 'METRONAUT', 'Elligator', 'Fastrack', 'PIRASO', 'ROZZETTA CRAFT', 'Elligator', 'Fastrack', 'MGKNYAH', 'CRYSTAL CART', 'Fastrack', 'SUNBEE', 'SRPM', 'Resist', 'PIRASO', 'METRONAUT', 'Ray-Ban', 'ROZZETTA CRAFT', 'GANSTA', 'SUNBEE', 'PIRASO', 'ROZZETTA CRAFT', 'DEIXELS', 'Fastrack', 'NuVew', 'VINCENT CHASE', 'Sewell', 'Elligator', 'VINCENT CHASE', 'Silver Kartz', 'METRONAUT', 'Fastrack', 'Fastrack', 'VINCENT CHASE', 'PIRASO', 'kingsunglasses', 'SUNBEE', 'Rich Club', 'Silver Kartz', 'METRONAUT', 'Elligator', 'RESIST EYEWEAR']
80

In [268]:
start=0
end=2
for page in range(start,end):
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product[0:80]:
        Product_Description.append(i.text)
        
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [269]:
Product_Description.append('NA')
Product_Description.append('NA')
Product_Description.append('NA')

In [270]:
print(Product_Description)
print(len(Product_Description))

['UV Protection Retro Square Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Clubmaster Sunglasses (54)', 'Polarized, UV Protection Retro Square Sunglasses (56)', 'UV Protection, Mirrored Wayfarer Sunglasses (54)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Aviator, Wayfarer Sunglasses (54)', 'UV Protection, Gradient Retro Square Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Polarized, Gradient, UV Protection, Mirrored Over-sized...', 'UV Protection Wayfarer Sunglasses (50)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (57)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Riding Glasses Aviator Sunglasses (57)', 'UV Protection Round Sunglasses (53)', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection Sports Sunglasses (65)', 'Polarized, UV Protection Rectangular Sunglasses (52)', 'UV Protection Round Sunglasses (53)', 'UV Protection, Mirrored Wayfarer Sunglasses (57)', 'UV Protection Wayfarer Sunglasses (56)', 'Polarized, UV Protection Aviator Sunglasses (56)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (56)', 'UV Protection Oval Sunglasses (54)', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection Rectangular Sunglasses (52)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient Sunglass', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Over-sized Sunglasses (60)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored Aviator Sunglasses (Free Size)', 'Polarized, UV Protection, Gradient, Riding Glasses Rect...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'Others Wayfarer, Retro Square, Rectangular Sunglasses (...', 'Polarized Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'Gradient, UV Protection Sunglass', 'Mirrored, UV Protection Aviator Sunglasses (58)', 'UV Protection Round Sunglasses (Free Size)', 'Gradient, UV Protection Aviator Sunglasses (57)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (50)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'UV Protection Rectangular Sunglasses (56)', 'UV Protection, Mirrored Aviator Sunglasses (57)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'UV Protection Wayfarer Sunglasses (54)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'by Lenskart Polarized, UV Protection Retro Square Sungl...', 'Riding Glasses, UV Protection Sunglass', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Retro Square Sunglasses (50)', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (59)', 'UV Protection Clubmaster Sunglasses (53)', 'UV Protection Sunglass', 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)', 'Polarized, UV Protection Aviator Sunglasses (55)', 'NA', 'NA', 'NA']
80

In [271]:
start=0
end=2
for page in range(start,end):
    p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in p[0:80]:
        Price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [272]:
print(Price)
print(len(Price))

['₹590', '₹1,066', '₹149', '₹149', '₹619', '₹268', '₹224', '₹282', '₹179', '₹185', '₹149', '₹492', '₹149', '₹264', '₹489', '₹366', '₹169', '₹489', '₹99', '₹1,799', '₹549', '₹274', '₹619', '₹1,849', '₹149', '₹629', '₹129', '₹381', '₹149', '₹99', '₹214', '₹1,409', '₹549', '₹211', '₹239', '₹274', '₹226', '₹182', '₹539', '₹269', '₹129', '₹589', '₹173', '₹435', '₹179', '₹609', '₹189', '₹329', '₹612', '₹293', '₹199', '₹1,599', '₹212', '₹249', '₹2,799', '₹699', '₹311', '₹185', '₹272', '₹400', '₹228', '₹499', '₹129', '₹1,061', '₹280', '₹99', '₹704', '₹740', '₹228', '₹699', '₹499', '₹479', '₹267', '₹232', '₹190', '₹499', '₹179', '₹226', '₹249', '₹590']
80

In [273]:
start=0
end=2
for page in range(start,end):
    d=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in d[0:80]:
        Discount.append(i.text)
        
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [274]:
print(Discount)
print(len(Discount))

['54% off', '78% off', '88% off', '75% off', '43% off', '83% off', '85% off', '78% off', '82% off', '89% off', '88% off', '72% off', '88% off', '89% off', '45% off', '46% off', '86% off', '45% off', '88% off', '79% off', '45% off', '89% off', '43% off', '62% off', '85% off', '37% off', '86% off', '82% off', '85% off', '88% off', '86% off', '63% off', '45% off', '86% off', '85% off', '75% off', '67% off', '90% off', '46% off', '68% off', '74% off', '34% off', '89% off', '54% off', '88% off', '39% off', '68% off', '78% off', '38% off', '77% off', '86% off', '78% off', '86% off', '80% off', '49% off', '60% off', '84% off', '81% off', '82% off', '72% off', '61% off', '44% off', '82% off', '79% off', '81% off', '80% off', '71% off', '46% off', '82% off', '30% off', '44% off', '62% off', '82% off', '85% off', '80% off', '63% off', '82% off', '84% off', '80% off', '75% off']
80

In [280]:
print(len(Discount),len(Product_Description),len(Price),len(Brand))

80 80 80 80

In [282]:
df=pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price,'Discount':Discount})
df

,Brand,Product_Description,Price,Discount
0,Rich Club,UV Protection Retro Square Sunglasses (50),₹590,54% off
1,Eyewearlabs,UV Protection Wayfarer Sunglasses (50),"₹1,066",78% off
2,SRPM,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,88% off
3,Elligator,UV Protection Wayfarer Sunglasses (Free Size),₹149,75% off
4,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹619,43% off
...,...,...,...,...
75,Rich Club,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹499,63% off
76,Silver Kartz,"Polarized, UV Protection Aviator Sunglasses (55)",₹179,82% off
77,METRONAUT,NA,₹226,84% off
78,Elligator,NA,₹249,80% off
79,RESIST EYEWEAR,NA,₹590,75% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:

1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

Note: All the steps required during scraping should be done through code only and not manually.

In [435]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [283]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [284]:
#Opening the flipkart page on automated chorme browser
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [285]:
rating=[]

In [286]:
start=0
end=10

for i in range(start,end):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(5)

In [314]:
print(len(rating))
print(rating)

100
['5', '5', '5', '4', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '4', '5', '5', '4', '5', '5', '5', '5', '5', '4', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '4', '5', '5', '4', '5', '5', '5', '5', '5', '4', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '4', '5', '5', '4', '5', '5', '5', '5', '5', '4', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '4', '5', '5', '4', '5', '5', '5', '5', '5', '4', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '4', '5', '5', '4', '5', '5']

In [300]:
Full_review=[]

In [301]:
start=0
end=10

for i in range(start,end):
    review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review:
        Full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(4)

In [302]:
print(len(Full_review))

100

In [303]:
print(Full_review)

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.', 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .', 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE', "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.", "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯", 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE', 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.', 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.', 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow', 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE', 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.', 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥', 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..', 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE', 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome', 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11', 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !', "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....", 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE', 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one', 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.', 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .', 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE', "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.", "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯", 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE', 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.', 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.', 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow', 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE', 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.', 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .', 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE', "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.", "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯", 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE', 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.', 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.', 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow', 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE', 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.', 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥', 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..', 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE', 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome', 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11', 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !', "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....", 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE', 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one', 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.', 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .', 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE', "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.", "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯", 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE', 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.', 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.', 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow', 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE', 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.', 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥', 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..', 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very qui

In [312]:
Review_summary=[]

In [313]:
start=0
end=10

for i in range(start,end):
    review1=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review1:
        Review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(5)

ElementClickInterceptedException: Message: element click intercepted: Element <a class="ge-49M" href="/apple-iphone-...1-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&amp;lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&amp;marketplace=FLIPKART&amp;page=1">1</a> is not clickable at point (621, 579). Other element would receive the click: <div class="_1XXPTY _1v2cG7">...</div>
  (Session info: chrome=110.0.5481.178)
Stacktrace:
Backtrace:
	(No symbol) [0x00F737D3]
	(No symbol) [0x00F08B81]
	(No symbol) [0x00E0B36D]
	(No symbol) [0x00E44E3B]
	(No symbol) [0x00E426DB]
	(No symbol) [0x00E3FD0B]
	(No symbol) [0x00E3E4D8]
	(No symbol) [0x00E33253]
	(No symbol) [0x00E5B41C]
	(No symbol) [0x00E32B96]
	(No symbol) [0x00E5B774]
	(No symbol) [0x00E71215]
	(No symbol) [0x00E5B216]
	(No symbol) [0x00E30D97]
	(No symbol) [0x00E3253D]
	GetHandleVerifier [0x011EABF2+2510930]
	GetHandleVerifier [0x01218EC1+2700065]
	GetHandleVerifier [0x0121C86C+2714828]
	GetHandleVerifier [0x01023480+645344]
	(No symbol) [0x00F10FD2]
	(No symbol) [0x00F16C68]
	(No symbol) [0x00F16D4B]
	(No symbol) [0x00F20D6B]
	BaseThreadInitThunk [0x776400F9+25]
	RtlGetAppContainerNamedObjectPath [0x77D37BBE+286]
	RtlGetAppContainerNamedObjectPath [0x77D37B8E+238]

In [311]:
print(len(Review_summary))
print(Review_summary)

30
['Fabulous!', 'Classy product', 'Worth every penny', 'Perfect product!', 'Good choice', 'Perfect product!', 'Highly recommended', 'Value-for-money', 'Highly recommended', 'Perfect product!', 'Fabulous!', 'Classy product', 'Worth every penny', 'Perfect product!', 'Good choice', 'Perfect product!', 'Highly recommended', 'Value-for-money', 'Highly recommended', 'Perfect product!', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Value-for-money', 'Highly recommended', 'Worth every penny', 'Perfect product!', 'Pretty good', 'Highly recommended', 'Great product']

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 3 attributes of each sneaker:

1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [436]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [315]:
driver = webdriver.Chrome(r'chrome.exe')

In [316]:
driver.get('https://www.flipkart.com/')

In [317]:
# Open login pop so i use this
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [318]:
#Enter the Sneakers in the search box
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [319]:
# Now click the search icon
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [ ]:
# Lets make a list for store of scrape data
Brand= []
Product_Description= []
Price= []
Discount= []

In [320]:
Brand=[]

In [321]:
start=0
end=2
for page in range(start,end):
    b=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in b[0:80]:
        Brand.append(i.text)
        
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [329]:
Product_Description=[]

In [330]:
start=0
end=2
for page in range(start,end):
    p=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p[0:80]:
        Product_Description.append(i.text)
        
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [324]:
Price= []

In [325]:
start=0
end=2
for page in range(start,end):
    r=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in r[0:80]:
        Price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(2)

In [331]:
len(Product_Description)

78

In [332]:

Product_Description.extend(['Na','Na'])
print(len(Price),len(Product_Description),len(Brand))

80 80 80

In [333]:
df=pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price})
df

       Brand                                Product_Description Price
0   BERSACHE  Bersache Sports Shoes For Men|Yellow For Runni...  ₹599
1        SFR  2006 Trenddy Fashion Sporty Casuals Sneakers R...  ₹299
2     Kraasa                                 Sneakers For Women  ₹299
3      BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹499
4      BIRDE  Latest Exclusive Affordable Collection of Tren...  ₹279
..       ...                                                ...   ...
75      aadi             Lattest Sneakers Shoe Sneakers For Men  ₹349
76     Sparx  Lightweight,Comfort,Summer,Trendy,Walking,Outd...  ₹659
77    BRUTON                         Colored Sneakers For Women  ₹379
78      aadi                                                 Na  ₹499
79    Kraasa                                                 Na  ₹299

[80 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [437]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [86]:
driver = webdriver.Chrome('chromedriver.exe')

In [87]:
driver.get('https://www.amazon.in/')

In [90]:
search_field= driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_field.send_keys('Laptop')

In [91]:
search_icon=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_icon.click()

In [92]:
filter_checkbox=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[10]/span/a/div/label/i')
filter_checkbox.click()

In [100]:
t=[]
r=[]
p=[]

In [101]:
#scraping the title from the given page
title=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title[0:10]:
    t.append(i.text)
#scraping the rating from the given page
rating=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating[0:10]:
    r.append(i.text)
    
#scraping the price from the given page
price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price[0:10]:
    p.append(i.text)

In [102]:
print(len(t),len(r),len(p))

10 10 10

In [103]:
#lets make a dataframe of scraping data
df=pd.DataFrame({'Title':t,'Rating':r,'Price':p})
df

                                               Title Rating     Price
0  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...    4.1    79,990
1  ASUS TUF Dash F15, Intel Core i7-12650H 12th G...    4.0    92,990
2  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...    4.4    94,990
3  (Renewed) HP 840g3 Elitebook 14 Inch Screen La...    3.0    31,592
4  Lenovo Legion S7 Intel Core i7 12th Gen 16"(40...    4.1  1,48,020
5  LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16...    4.0    82,990
6  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...    5.0    81,990
7  Dell G15-5520 Gaming Laptop, i7-12650H, 16GB D...    4.3  1,23,990
8  (Renewed) Hp Intel 7th Gen Core i7 13.3-inch (...    3.0    64,158
9  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    3.6    30,393

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

The above task will be done in following steps:

1. First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [438]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [334]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [335]:
driver.get('https://www.azquotes.com/')

In [336]:
#click on top quotes
driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a').click()

In [351]:
quotes=[]

In [352]:
start=0
end=9
for page in range(start,end):
    quotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes_tags:
        quotes.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)

In [353]:
len(quotes)

900

In [354]:
#we can see that we scrape 900 quotes now scarpe another 100 scrape 
q=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in q:
    quotes.append(i.text)
len(quotes)#now we have top 1000 quotes

1000

In [355]:
Author=[]

In [356]:
start=0
end=9
for page in range(start,end):
    Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in Author_tags:
        Author.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)

In [357]:
len(Author)

900

In [358]:
#we can see that we scrape 900 quotes Author now scarpe another 100 
a=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in a:
    Author.append(i.text)
len(Author)#now we have top 1000 quotes Author

1000

In [359]:
Tyq=[]

In [360]:
start=0
end=9
for page in range(start,end):
    t=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in t:
        Tyq.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)

In [361]:
len(Tyq)

900

In [363]:
#we can see that we scrape 900 Type of quotes  now scarpe another 100 
y=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in y:
    Tyq.append(i.text)
len(Tyq)#now we have top 1000 quotes Author

1000

In [364]:
df=pd.DataFrame({'Quotes':quotes,'Author':Author,'Type of Quotes':Tyq})
df

,Quotes,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.Car name and Price) from https://www.motor1.com/

This task will be done in following steps:

1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [439]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [365]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [366]:
driver.get('https://www.motor1.com/')

In [369]:
search_field= driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text js-bound"]')
search_field.send_keys('50 most expensive cars in the world')

In [370]:
search_icon=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search_icon.click()

In [372]:
driver.find_element(By.XPATH,'//div[@class="text-box"]').click()

In [375]:
model=[]

In [376]:
m=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in m[0:50]:
    model.append(i.text)
print(model)
print(len(model))

['De Tomaso P72', 'Ferrari LaFerrari', 'Pagani Huayra', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Ferrari FXX K Evo', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Roadster BC', 'Bugatti Chiron Pur Sport', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*']
50

In [424]:
price=[]

In [425]:
p=driver.find_elements(By.TAG_NAME,'strong')
for i in p[0:50]:
    price.append(i.text)
print(price)
print(len(price))

['Price: $1.3 Million', 'Price: $1.4 Million', 'Price: $1.4 Million', '', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.0 Million*', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.7 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', 'Price: $3.5 Million', 'Price: $3.6 Million', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $5.0 Million', 'Price: $5.4 Million', 'Price: $5.8 Million', 'Price: $6.4 Million', 'Price: $7.4 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $10.8 Million', 'Price: $12.8 Million', 'Price: $13.4 Million']
50

In [430]:
link = []

In [431]:
l=driver.find_elements(By.TAG_NAME,'a')
for i in l[0:50]:
    link.append(i.get_attribute('href'))
print(link)
print(len(link))

['https://www.motor1.com/', 'https://www.motor1.com/news/', 'https://www.motor1.com/reviews/', 'https://www.motor1.com/features/', 'https://www.motor1.com/makes/', 'https://www.motor1.com/', 'https://www.motor1.com/auto-shows/', 'https://www.motor1.com/products-services/', 'https://www.motor1.com/body-styles/', 'https://www.motor1.com/car-reviews/', 'https://www.motor1.com/features/category/podcast/', 'https://www.motor1.com/photos/', 'https://www.motor1.com/videos/', None, 'https://www.motor1.com/', 'https://www.motor1.com/features/', 'https://www.motor1.com/features/308149/most-expensive-new-cars-ever/#comments', 'https://www.motor1.com/info/team/jeff-perez/', 'https://www.motor1.com/info/team/jeff-perez/', 'https://www.motor1.com/ferrari/', 'https://www.motor1.com/news/521783/ssc-north-america-admits-tuatara-speed/', 'https://www.motor1.com/reviews/607072/2023-rimac-nevera-first-drive/', 'https://www.motor1.com/rolls-royce/', 'https://www.ferrarichat.com/forum/?utm_source=Motor1%20article&utm_medium=Quote&utm_campaign=3rd%20paragraph', 'https://www.motor1.com/features/459605/fastest-cars-in-the-world/', 'https://www.motor1.com/features/262212/future-supercars-sports-cars-list/', 'https://www.motor1.com/news/588606/de-tomaso-p72-blue-lake-como/', 'https://www.motor1.com/ferrari/laferrari/', 'https://www.motor1.com/pagani/huayra/', 'https://www.motor1.com/news/381916/mclaren-elva-debut-price-performance-info/', 'https://www.motor1.com/news/541913/czinger-21c-circuit-america-record/', 'https://www.motor1.com/news/565467/gordon-murray-t33-sold-out/', 'https://www.motor1.com/koenigsegg/gemera/', 'https://www.motor1.com/koenigsegg/', 'https://www.motor1.com/hennessey/venom-f5/', 'https://www.motor1.com/news/575545/hennessey-venom-f5-271-mph/', 'https://www.motor1.com/reviews/499804/2021-bentley-bacalar-first-drive/', 'https://www.motor1.com/news/510070/ssc-tuatara-striker-aggressor-announced/', 'https://www.motor1.com/lotus/emira/', 'https://www.motor1.com/lotus/elerte/', 'https://www.motor1.com/news/493450/lotus-evija-motor-noise-debut/', 'https://www.motor1.com/aston-martin/vulcan/', 'https://www.motor1.com/features/589945/delage-hypercar-brand-challenging-bugatti-interview/', 'https://www.motor1.com/mclaren/speedtail/', 'https://www.motor1.com/mclaren/', 'https://www.motor1.com/rimac/nevera/', 'https://www.motor1.com/automobili-pininfarina/battista/', 'https://www.motor1.com/news/457790/pininfarina-battista-completes-high-speed-testing/', 'https://www.motor1.com/news/580058/gordon-murray-t50-lapping-goodwood-video/', 'https://www.motor1.com/lamborghini/countach-lpi-800-4/']
50

In [432]:
df=pd.DataFrame({'Model':model,'Price':price,'url':link})
df

,Model,Price,url
0,De Tomaso P72,Price: $1.3 Million,https://www.motor1.com/
1,Ferrari LaFerrari,Price: $1.4 Million,https://www.motor1.com/news/
2,Pagani Huayra,Price: $1.4 Million,https://www.motor1.com/reviews/
3,McLaren Elva,,https://www.motor1.com/features/
4,Czinger 21C,Price: $1.7 Million,https://www.motor1.com/makes/
5,Ferrari Monza,Price: $1.7 Million,https://www.motor1.com/
6,Gordon Murray T.33,Price: $1.7 Million,https://www.motor1.com/auto-shows/
7,Koenigsegg Gemera,Price: $1.7 Million,https://www.motor1.com/products-services/
8,Zenvo TSR-S,Price: $1.7 Million,https://www.motor1.com/body-styles/
9,Hennessey Venom F5,Price: $1.7 Million,https://www.motor1.com/car-reviews/
10,Bentley Bacalar,Price: $1.8 Million,https://www.motor1.com/features/category/podcast/
11,Hispano Suiza Carmen Boulogne,Price: $1.9 Million,https://www.motor1.com/photos/
12,Bentley Mulliner Batur,Price: $1.9 Million,https://www.motor1.com/videos/
13,Deus Vayanne,Price: $2.0 Million,None
14,SSC Tuatara,Price: $2.0 Million,https://www.motor1.com/
15,Lotus Evija,Price: $2.0 Million*,https://www.motor1.com/features/
16,Aston Martin Vulcan,Price: $2.1 Million,https://www.motor1.com/features/308149/most-ex...
17,Delage D12,Price: $2.3 Million,https://www.motor1.com/info/team/jeff-perez/
18,McLaren Speedtail,Price: $2.3 Million,https://www.motor1.com/info/team/jeff-perez/
19,Rimac Nevera,Price: $2.3 Million,https://www.motor1.com/ferrari/
20,Pagani Utopia,Price: $2.4 Million,https://www.motor1.com/news/521783/ssc-north-a...
21,Pininfarina Battista,Price: $2.5 Million,https://www.motor1.com/reviews/607072/2023-rim...
22,Ferrari FXX K Evo,Price: $2.5 Million,https://www.motor1.com/rolls-royce/
23,Gordon Murray T.50,Price: $2.6 Million,https://www.ferrarichat.com/forum/?utm_source=...
24,Lamborghini Countach,Price: $2.6 Million,https://www.motor1.com/features/459605/fastest...
25,Mercedes-AMG Project One,Price: $2.6 Million,https://www.motor1.com/features/262212/future-...
26,Aston Martin Victor,Price: $2.7 Million,https://www.motor1.com/news/588606/de-tomaso-p...
27,Hennessey Venom F5 Roadster,Price: $3.0 Million,https://www.motor1.com/ferrari/laferrari/
28,Koenigsegg Jesko,$3.0 Million,https://www.motor1.com/pagani/huayra/
29,Aston Martin Valkyrie,Price: $3.0 Million,https://www.motor1.com/news/381916/mclaren-elv...
30,W Motors Lykan Hypersport,Price: $3.2 Million,https://www.motor1.com/news/541913/czinger-21c...
31,McLaren Solus,Price: $3.4 Million,https://www.motor1.com/news/565467/gordon-murr...
32,Pagani Huayra Roadster BC,$3.5 Million,https://www.motor1.com/koenigsegg/gemera/
33,Bugatti Chiron Pur Sport,Price: $3.5 Million,https://www.motor1.com/koenigsegg/
34,Lamborghini Sian,Price: $3.6 Million,https://www.motor1.com/hennessey/venom-f5/
35,Koenigsegg CC850,Price: $3.6 million,https://www.motor1.com/news/575545/hennessey-v...
36,Bugatti Chiron Super Sport 300+,Price: $3.7 Million,https://www.motor1.com/reviews/499804/2021-ben...
37,Lamborghini Veneno,Price: $3.9 Million,https://www.motor1.com/news/510070/ssc-tuatara...
38,Bugatti Bolide,Price: $4.5 Million,https://www.motor1.com/lotus/emira/
39,Bugatti Mistral,Price: $4.7 Million,https://www.motor1.com/lotus/elerte/
40,Pagani Huayra Imola,Price: $5.0 Million,https://www.motor1.com/news/493450/lotus-evija...
41,Bugatti Divo,Price: $5.4 Million,https://www.motor1.com/aston-martin/vulcan/
42,SP Automotive Chaos,Price: $5.8 Million,https://www.motor1.com/features/589945/delage-...
43,Pagani Codalunga,Price: $6.4 Million,https://www.motor1.com/mclaren/speedtail/
44,Mercedes-Maybach Exelero,Price: $7.4 Million,https://www.motor1.com/mclaren/
45,Bugatti Centodieci,Price: $8.0 Million,https://www.motor1.com/rimac/nevera/
46,Bugatti Chiron Profilée,Price: $9.0 Million,https://www.motor1.com/automobili-pininfarina/...
47,Rolls-Royce Sweptail,Price: $10.8 Million,https://www.motor1.com/news/457790/pininfarina...
48,Bugatti La Voiture Noire,Price: $12.8 Million,https://www.motor1.com/news/580058/gordon-murr...
49,Rolls-Royce Boat Tail*,Price: $13.4 Million,https://www.motor1.com/lamborghini/countach-lp...